db.sqlite3
.idea/
*.pyc
/media
cache/
one_c_xml_packer/
old_db.sqlite3
user_data/
last_db.json
env/
.devcontainer/
.vscode/
*.rdb
dev_settings.json
nginx_conf/letsencrypt/
Apache/
zf_1c_connect_client/
*.spec
build/
dist/
